
/* Tipografia para todo el body completo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/* Color de fondo de todo el main */
main {
    background-color: #ebebeb;
    margin: auto;
    margin-bottom: 60px;
}
footer {
    background-color: white;
    width: 100vw;

}
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}